<p style="color: green"><%= notice %></p>

<%= cl_image_tag("pseqwqsp9q0mvenls3hq",
      width: 400, height: 300, crop: :fill) %>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
